        <h1 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">{{capitalize pageTitle}}</h1>
        <p>Welcome to <strong>{{pageTitle}}</strong> page. Click on the content to navigate to topic(s).</p>
        <a href="/"><small>Home</small></a>